/********** $OBJECT-ORIENTED *********/


*{
 	/* outline: none !important;  */
}

.yellow{
	background: yellow;
}

.pink{
	background: pink;
}

.orange{
	background: orange;
}

.green{
	background: green;
}

img,video{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.full{
	width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.centered{
	text-align: center;
}

.logo{
	display: block;
}

.display-block{
	display: block;
}

.crop{
	overflow: hidden;
}

.bg-brand{
	background-color: $brand;
}

.bg-white{
	background-color: white;
}

.bg-light{
	background: $light;
}

.bg-gradient{
	@include gradient();
}

.shadow{
	@include shadow(0,0,1px,rgba(53,50,50,.35));
}

.icon{
	&:before {
    content: attr(data-icon);
    font-family: "modern_pictograms_proregular";
	font-size: 31px;
	line-height: 100%;
	vertical-align: middle;
	position: relative;	
	}
	
	&.large:before{
		font-size: 72px;
	}
}

.icon-left:before{
	margin-right: 10px;
}
.icon-right:before{
	margin-left: 10px;
}

a{
	color: $brand;
	@include transition(color,.125s);
	&:hover{
		text-decoration: none;
		color: darken($brand,5%);
	}
	
	&:focus{
		text-decoration: none;
		color: $brand;
		outline: none;
	}
}

ul{
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ol,ul{
	-webkit-padding-start: 0px;
}

.padded{
	padding-top: 5%;
	padding-bottom: 4%;
}

.margined{
	margin-top: 1em;
	margin-bottom: 1em;
}

.margined-sm{
	margin-bottom: 15px;
	margin-top: 15px;
}

.margined-md{
	margin-bottom: 30px;
	margin-top: 30px;
}	

.margined-lg{
	margin-bottom: 60px;
	margin-top: 60px;
}

.m0{
	margin-bottom: 0;
}

.m1{
	margin-bottom: 1em;
}

.m2{
	margin-bottom: 2em;
}

.m3{
	margin-bottom: 3em;
}

.m30{
	margin-bottom: 30px;
}

.m60{
	margin-bottom: 60px;
}

.m90{
	margin-bottom: 90px;
}

.mt{
	margin-top: 30px;
}

/********** @HEIGHTS AND WIDTHS *********/

.height-full{
	height: 100vh;
}

@for $i from 1 through 10 {
  .vh#{$i}0{ 
  	height: 10vh * $i;
  }
}

@for $i from 1 through 10 {
  .vw#{$i}0{
  	width: 10% * $i; 
  	width: 9.99vw * $i;

  }
}


/********** @MARGINS AND PADDING *********/

.m0{
	margin: 0;
}

@for $i from 0 through 9 {
  .m#{$i} { 
  	margin-bottom: 1em * $i;
  	margin-top: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .mb#{$i} { 
  	margin-bottom: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .mt#{$i} { 
  	margin-top: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .ml#{$i} { 
  	margin-left: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .mr#{$i} { 
  	margin-right: 1em * $i;
  }
}


@for $i from 0 through 9 {
  .p#{$i} { 
  	padding: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .pb#{$i} { 
  	padding-bottom: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .pt#{$i} { 
  	padding-top: 1em * $i;
  }
}

.padded-less{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.padded{
	padding-top: 6%;
	padding-bottom: 7%;
}

.padded-more{
	padding-top: 8%;
	padding-bottom: 9%;
}

