@import url(./bootstrap/bootstrap.css);
@import url(../fonts/fonts.css);
/********** $VARIABLES *********/
/********** $OBJECT-ORIENTED *********/
* {
  /* outline: none !important;  */ }

.yellow {
  background: yellow; }

.pink {
  background: pink; }

.orange {
  background: orange; }

.green {
  background: green; }

img, video {
  width: 100%;
  max-width: 100%;
  height: auto; }

.full {
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.centered {
  text-align: center; }

.logo {
  display: block; }

.display-block {
  display: block; }

.crop {
  overflow: hidden; }

.bg-brand {
  background-color: #f79941; }

.bg-white {
  background-color: white; }

.bg-light {
  background: #f2f2f2; }

.bg-gradient {
  background: #60b3ff;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */ }

.shadow {
  -moz-box-shadow: 0 0 1px rgba(53, 50, 50, 0.35);
  -webkit-box-shadow: 0 0 1px rgba(53, 50, 50, 0.35);
  box-shadow: 0 0 1px rgba(53, 50, 50, 0.35); }

.icon:before {
  content: attr(data-icon);
  font-family: "modern_pictograms_proregular";
  font-size: 31px;
  line-height: 100%;
  vertical-align: middle;
  position: relative; }
.icon.large:before {
  font-size: 72px; }

.icon-left:before {
  margin-right: 10px; }

.icon-right:before {
  margin-left: 10px; }

a {
  color: #f79941;
  transition: color 0.125s 0s ease;
  -moz-transition: color 0.125s 0s ease;
  -webkit-transition: color 0.125s 0s ease;
  -o-transition: color 0.125s 0s ease; }
  a:hover {
    text-decoration: none;
    color: #f68c29; }
  a:focus {
    text-decoration: none;
    color: #f79941;
    outline: none; }

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

ol, ul {
  -webkit-padding-start: 0px; }

.padded {
  padding-top: 5%;
  padding-bottom: 4%; }

.margined {
  margin-top: 1em;
  margin-bottom: 1em; }

.margined-sm {
  margin-bottom: 15px;
  margin-top: 15px; }

.margined-md {
  margin-bottom: 30px;
  margin-top: 30px; }

.margined-lg {
  margin-bottom: 60px;
  margin-top: 60px; }

.m0 {
  margin-bottom: 0; }

.m1 {
  margin-bottom: 1em; }

.m2 {
  margin-bottom: 2em; }

.m3 {
  margin-bottom: 3em; }

.m30 {
  margin-bottom: 30px; }

.m60 {
  margin-bottom: 60px; }

.m90 {
  margin-bottom: 90px; }

.mt {
  margin-top: 30px; }

/********** @HEIGHTS AND WIDTHS *********/
.height-full {
  height: 100vh; }

.vh10 {
  height: 10vh; }

.vh20 {
  height: 20vh; }

.vh30 {
  height: 30vh; }

.vh40 {
  height: 40vh; }

.vh50 {
  height: 50vh; }

.vh60 {
  height: 60vh; }

.vh70 {
  height: 70vh; }

.vh80 {
  height: 80vh; }

.vh90 {
  height: 90vh; }

.vh100 {
  height: 100vh; }

.vw10 {
  width: 10%;
  width: 9.99vw; }

.vw20 {
  width: 20%;
  width: 19.98vw; }

.vw30 {
  width: 30%;
  width: 29.97vw; }

.vw40 {
  width: 40%;
  width: 39.96vw; }

.vw50 {
  width: 50%;
  width: 49.95vw; }

.vw60 {
  width: 60%;
  width: 59.94vw; }

.vw70 {
  width: 70%;
  width: 69.93vw; }

.vw80 {
  width: 80%;
  width: 79.92vw; }

.vw90 {
  width: 90%;
  width: 89.91vw; }

.vw100 {
  width: 100%;
  width: 99.9vw; }

/********** @MARGINS AND PADDING *********/
.m0 {
  margin: 0; }

.m0 {
  margin-bottom: 0em;
  margin-top: 0em; }

.m1 {
  margin-bottom: 1em;
  margin-top: 1em; }

.m2 {
  margin-bottom: 2em;
  margin-top: 2em; }

.m3 {
  margin-bottom: 3em;
  margin-top: 3em; }

.m4 {
  margin-bottom: 4em;
  margin-top: 4em; }

.m5 {
  margin-bottom: 5em;
  margin-top: 5em; }

.m6 {
  margin-bottom: 6em;
  margin-top: 6em; }

.m7 {
  margin-bottom: 7em;
  margin-top: 7em; }

.m8 {
  margin-bottom: 8em;
  margin-top: 8em; }

.m9 {
  margin-bottom: 9em;
  margin-top: 9em; }

.mb0 {
  margin-bottom: 0em; }

.mb1 {
  margin-bottom: 1em; }

.mb2 {
  margin-bottom: 2em; }

.mb3 {
  margin-bottom: 3em; }

.mb4 {
  margin-bottom: 4em; }

.mb5 {
  margin-bottom: 5em; }

.mb6 {
  margin-bottom: 6em; }

.mb7 {
  margin-bottom: 7em; }

.mb8 {
  margin-bottom: 8em; }

.mb9 {
  margin-bottom: 9em; }

.mt0 {
  margin-top: 0em; }

.mt1 {
  margin-top: 1em; }

.mt2 {
  margin-top: 2em; }

.mt3 {
  margin-top: 3em; }

.mt4 {
  margin-top: 4em; }

.mt5 {
  margin-top: 5em; }

.mt6 {
  margin-top: 6em; }

.mt7 {
  margin-top: 7em; }

.mt8 {
  margin-top: 8em; }

.mt9 {
  margin-top: 9em; }

.ml0 {
  margin-left: 0em; }

.ml1 {
  margin-left: 1em; }

.ml2 {
  margin-left: 2em; }

.ml3 {
  margin-left: 3em; }

.ml4 {
  margin-left: 4em; }

.ml5 {
  margin-left: 5em; }

.ml6 {
  margin-left: 6em; }

.ml7 {
  margin-left: 7em; }

.ml8 {
  margin-left: 8em; }

.ml9 {
  margin-left: 9em; }

.mr0 {
  margin-right: 0em; }

.mr1 {
  margin-right: 1em; }

.mr2 {
  margin-right: 2em; }

.mr3 {
  margin-right: 3em; }

.mr4 {
  margin-right: 4em; }

.mr5 {
  margin-right: 5em; }

.mr6 {
  margin-right: 6em; }

.mr7 {
  margin-right: 7em; }

.mr8 {
  margin-right: 8em; }

.mr9 {
  margin-right: 9em; }

.p0 {
  padding: 0em; }

.p1 {
  padding: 1em; }

.p2 {
  padding: 2em; }

.p3 {
  padding: 3em; }

.p4 {
  padding: 4em; }

.p5 {
  padding: 5em; }

.p6 {
  padding: 6em; }

.p7 {
  padding: 7em; }

.p8 {
  padding: 8em; }

.p9 {
  padding: 9em; }

.pb0 {
  padding-bottom: 0em; }

.pb1 {
  padding-bottom: 1em; }

.pb2 {
  padding-bottom: 2em; }

.pb3 {
  padding-bottom: 3em; }

.pb4 {
  padding-bottom: 4em; }

.pb5 {
  padding-bottom: 5em; }

.pb6 {
  padding-bottom: 6em; }

.pb7 {
  padding-bottom: 7em; }

.pb8 {
  padding-bottom: 8em; }

.pb9 {
  padding-bottom: 9em; }

.pt0 {
  padding-top: 0em; }

.pt1 {
  padding-top: 1em; }

.pt2 {
  padding-top: 2em; }

.pt3 {
  padding-top: 3em; }

.pt4 {
  padding-top: 4em; }

.pt5 {
  padding-top: 5em; }

.pt6 {
  padding-top: 6em; }

.pt7 {
  padding-top: 7em; }

.pt8 {
  padding-top: 8em; }

.pt9 {
  padding-top: 9em; }

.padded-less {
  padding-top: 2.5%;
  padding-bottom: 2.5%; }

.padded {
  padding-top: 6%;
  padding-bottom: 7%; }

.padded-more {
  padding-top: 8%;
  padding-bottom: 9%; }

* {
  font-family: "Apercu-Light",Helvetica, sans-serif; }

/********** $ANIMATIONS *********/
#home-mission .block-background {
  animation: scale 20s linear 0s infinite;
  -ms-animation: scale 20s linear 0s infinite;
  -webkit-animation: scale 20s linear 0s infinite;
  -o-animation: move scale 20s linear 0s infinite;
  -moz-animation: move scale 20s linear 0s infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

#home-mission .slides li {
  -webkit-transform: scale(1.05); }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1); } }
/********** $THEME *********/
.container.md {
  max-width: 960px; }

.white {
  color: white; }

.dark {
  color: #333; }

.brand {
  color: #f79941; }

* {
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.uppercase {
  text-transform: uppercase; }

.regular, .filters .button {
  font-family: 'Apercu-Regular','Apercu',Helvetica, Arial, Sans-Serif; }

.bold, #current-title, .inquiry-button h3, .inquiry-button h4 {
  font-style: normal;
  font-family: 'Apercu-Bold','Apercu',Helvetica, Arial, Sans-Serif; }

.italic {
  font-style: italic; }

.serif {
  font-family: georgia,serif;
  line-height: 1.65;
  font-size: 19px; }
  .serif * {
    font-family: georgia,serif;
    line-height: 1.65; }

.text {
  line-height: 1.7; }
  .text p, .text a {
    line-height: 1.7; }
  .text ul {
    list-style: disc; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.4;
  color: #333;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px; }

h1, .h1 {
  font-size: 48px; }
  h1.large, .h1.large {
    font-size: 70px; }

h2, .h2 {
  font-size: 33px; }

h3, .h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5, h6 {
  font-size: 14px; }

.small {
  font-size: 14px; }

.extra-small {
  font-size: 12px; }

.tooltip > .tooltip-inner {
  background: #f79941;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px; }

.tooltip > .tooltip-arrow {
  border-left-color: #f79941 !important; }

/********** $STRUCTURE AND MAIN ELEMENTS *********/
.loading {
  transition: opacity 1s 0s ease;
  -moz-transition: opacity 1s 0s ease;
  -webkit-transition: opacity 1s 0s ease;
  -o-transition: opacity 1s 0s ease;
  opacity: 0 !important; }

.loaded {
  opacity: 1 !important; }
  .loaded .slide-left-auto {
    right: 0;
    opacity: 1; }

.landed {
  display: none; }

.block {
  position: relative;
  z-index: 3;
  width: 100%; }
  .block.crop {
    overflow: hidden; }
  .block.full {
    overflow: hidden; }
  .block.padded {
    padding: 8% 0 9% 0; }
  .block.padded-more {
    padding: 11% 0 13% 0; }
  .block.padded-less {
    padding: 4% 0 5% 0; }
  .block.activated .slide-left {
    left: 0;
    opacity: 1; }
  .block.activated .slide-right {
    right: 0;
    opacity: 1; }
  .block.activated .fade-in {
    opacity: 1; }
  .block .mask-light:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0.85) 75%, rgba(255, 255, 255, 0.73) 100%);
    /* W3C */ }
  .block .mask-light-light:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.3) 100%);
    /* W3C */ }
  .block .mask-dark:after {
    background: rgba(55, 50, 50, 0.72); }
  .block .mask-dark-light:after {
    background: rgba(55, 50, 50, 0.25); }
  .block .block-project-link {
    position: absolute;
    bottom: 12%;
    left: 30px;
    max-width: 250px;
    opacity: 0;
    transition: opacity 4s 0s ease;
    -moz-transition: opacity 4s 0s ease;
    -webkit-transition: opacity 4s 0s ease;
    -o-transition: opacity 4s 0s ease; }
    .block .block-project-link a {
      padding: 5px 10px;
      display: block;
      font-size: 14px; }
      .block .block-project-link a .see {
        opacity: .5; }
      .block .block-project-link a:hover {
        background: #f79941;
        color: white; }
        .block .block-project-link a:hover .see {
          opacity: 1; }

.block-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center top; }
  .block-background:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -webkit-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease; }

#header {
  height: 90px;
  padding-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }
  #header #logo {
    width: 124px;
    left: 50%;
    margin-left: -62px;
    position: absolute;
    margin-top: 7px;
    z-index: 9999; }
  #header #nav {
    position: fixed;
    right: 30px;
    top: 10px; }
    #header #nav li {
      display: inline-block;
      margin-top: 15px;
      margin-left: 15px; }
      #header #nav li a {
        font-size: 18px;
        color: black;
        border-bottom: 2px solid transparent;
        transition: all 0.125s 0s ease;
        -moz-transition: all 0.125s 0s ease;
        -webkit-transition: all 0.125s 0s ease;
        -o-transition: all 0.125s 0s ease;
        padding-bottom: 2px; }
        #header #nav li a:hover {
          border-bottom: 2px solid black; }

#menu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 100%;
  left: 0;
  background: #f5f5f4;
  transition: top 0.5s 0s ease;
  -moz-transition: top 0.5s 0s ease;
  -webkit-transition: top 0.5s 0s ease;
  -o-transition: top 0.5s 0s ease;
  padding: 6% 0 7% 0;
  z-index: 9998;
  overflow: scroll;
  visibility: hidden;
  opacity: 0; }
  #menu.on {
    top: 0%;
    opacity: 1;
    visibility: visible; }
  #menu .menu-about {
    margin-top: 30px; }
    #menu .menu-about li {
      margin-bottom: 30px; }
      #menu .menu-about li a {
        padding: 8px 0px; }
  #menu .menu-about-2 li {
    display: inline-block;
    margin: 0 15px; }
  #menu .menu-projects h3 {
    margin-top: 0;
    margin-bottom: 0px; }
  #menu .menu-projects h4 {
    line-height: 1.4; }
  #menu .menu-projects .project-tile-info {
    min-height: 80px; }
  #menu address h4 {
    margin-top: 0;
    margin-bottom: 3px; }
  #menu .project-tile {
    margin-bottom: 15px; }

body.modal-open {
  margin-right: 0; }
  body.modal-open #header {
    display: none; }

#headerfix {
  height: 90px; }

.home #headerfix, .single #headerfix {
  display: none; }

.home #header #logo {
  position: fixed; }

#menu-close {
  position: fixed;
  width: 30px;
  height: 30px;
  right: -100px;
  top: 26px;
  z-index: 100000;
  transition: right 0.25s 0s ease;
  -moz-transition: right 0.25s 0s ease;
  -webkit-transition: right 0.25s 0s ease;
  -o-transition: right 0.25s 0s ease; }

#carrot {
  right: -100px;
  position: fixed;
  width: 25px;
  top: 27px;
  opacity: .85;
  transition: all 0.25s 0s ease;
  -moz-transition: all 0.25s 0s ease;
  -webkit-transition: all 0.25s 0s ease;
  -o-transition: all 0.25s 0s ease; }
  #carrot:hover {
    opacity: 1; }

.after #carrot {
  right: 24px; }
.after #header #nav {
  right: -200px; }

.menu-open #carrot {
  right: -100px; }
.menu-open #menu-close {
  right: 16px; }
.menu-open #header #nav {
  right: -300px; }

#project-edit {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 10000;
  background: white;
  padding: 3px 6px; }

#nav-side {
  position: fixed;
  right: 18px;
  top: 49%;
  -webkit-transform: translateY(-50%);
  z-index: 100;
  height: 150px;
  width: 30px; }
  #nav-side ul li a {
    width: 9px;
    height: 9px;
    padding: 4px;
    margin: 9px auto;
    display: block;
    background: rgba(235, 235, 235, 0.9);
    border: 1px solid #333;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.07s 0s ease;
    -moz-transition: all 0.07s 0s ease;
    -webkit-transition: all 0.07s 0s ease;
    -o-transition: all 0.07s 0s ease; }
    #nav-side ul li a.side-icon {
      background: none;
      border: none; }
      #nav-side ul li a.side-icon .icon:before {
        left: -13px;
        top: -10px;
        color: white; }
    #nav-side ul li a.active {
      background: #333;
      border: 1px solid #f2f2f2; }
    #nav-side ul li a.side-icon:hover {
      background: none; }
      #nav-side ul li a.side-icon:hover :before {
        color: #f79941; }

.dash {
  width: 20px;
  height: 6px;
  background: #f79941;
  z-index: 9; }
  .dash.inline {
    display: inline-block;
    position: relative;
    top: -1px; }
    .dash.inline.ml {
      margin-left: 15px; }
    .dash.inline.mr {
      margin-right: 15px; }
  .dash.static {
    margin: 30px auto 30px auto; }
  .dash.bottom {
    margin-bottom: 90px; }
  .dash.centered {
    margin-left: auto;
    margin-right: auto; }

.dash-before {
  position: relative;
  left: -30px; }
  .dash-before:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 5px;
    background: #f79941;
    position: relative;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
    line-height: 100%; }

.slide-left {
  position: relative;
  left: 150px;
  opacity: 0;
  transition: all 1s 0s linear;
  -moz-transition: all 1s 0s linear;
  -webkit-transition: all 1s 0s linear;
  -o-transition: all 1s 0s linear; }

.slide-left-auto {
  position: relative;
  right: 150px;
  opacity: 0;
  transition: all 2s 0s linear;
  -moz-transition: all 2s 0s linear;
  -webkit-transition: all 2s 0s linear;
  -o-transition: all 2s 0s linear; }

.slide-right {
  position: relative;
  right: 150px;
  opacity: 0;
  transition: all 1s 0s linear;
  -moz-transition: all 1s 0s linear;
  -webkit-transition: all 1s 0s linear;
  -o-transition: all 1s 0s linear; }

#scrolly {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -17px; }

/********** $HOME *********/
#home-sides {
  height: 100%; }
  #home-sides .side {
    height: 100%;
    width: 50%;
    float: left;
    padding: 12px 0px 12px 12px; }
    #home-sides .side#right-side {
      padding-right: 12px;
      padding-left: 0px; }
    #home-sides .side a {
      height: 100%;
      transition: background 0.35s 0s ease;
      -moz-transition: background 0.35s 0s ease;
      -webkit-transition: background 0.35s 0s ease;
      -o-transition: background 0.35s 0s ease; }
      #home-sides .side a:hover {
        background: #fdfdfd; }
        #home-sides .side a:hover .border {
          border-bottom: 5px solid #f79941; }
      #home-sides .side a h1 {
        margin-top: 0;
        position: relative;
        top: 45%;
        -webkit-transform: translate(0, -50%); }
        #home-sides .side a h1 .border {
          padding-bottom: 10px;
          transition: border 0.35s 0s ease;
          -moz-transition: border 0.35s 0s ease;
          -webkit-transition: border 0.35s 0s ease;
          -o-transition: border 0.35s 0s ease; }

#home-dash {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index: 9; }

#home-introduction .block-background {
  opacity: .9; }
#home-introduction .tagline-container {
  margin-top: 0;
  position: relative;
  top: 45%;
  -webkit-transform: translate(0, -50%); }
  #home-introduction .tagline-container .tagline {
    line-height: 1.4; }
    #home-introduction .tagline-container .tagline.black {
      color: black;
      -moz-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
      -webkit-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }
    #home-introduction .tagline-container .tagline a {
      color: inherit;
      padding-bottom: 2px;
      border-bottom: 4px solid transparent; }
      #home-introduction .tagline-container .tagline a:hover {
        border-bottom: 4px solid rgba(255, 255, 255, 0.25); }

.vertical-center {
  margin-top: 0;
  position: relative;
  top: 45%;
  -webkit-transform: translate(0, -50%); }

#home-background {
  position: fixed;
  height: 150%;
  width: 100%;
  z-index: 0; }

/********** $PROJECTS *********/
#projects-filters {
  height: 70px;
  overflow: hidden;
  position: relative;
  padding-top: 5px; }
  #projects-filters ul {
    text-align: center; }
  #projects-filters li {
    display: inline-block;
    margin-right: 13px; }
    #projects-filters li a {
      color: #333;
      font-size: 14px;
      padding-bottom: 2px; }
      #projects-filters li a:hover {
        border-bottom: 2px solid #f79941; }
      #projects-filters li a.active {
        border-bottom: 2px solid #f79941; }

#projects-grid {
  padding-bottom: 10%; }

.project-tile {
  overflow: hidden;
  padding: 35px;
  margin-bottom: 15px; }
  .project-tile .project-tile-image {
    position: relative;
    overflow: hidden; }
    .project-tile .project-tile-image img {
      transition: transform 0.125s 0s ease;
      -moz-transition: transform 0.125s 0s ease;
      -webkit-transition: transform 0.125s 0s ease;
      -o-transition: transform 0.125s 0s ease; }
  .project-tile h3 {
    margin-top: 0;
    padding-top: 10px; }
  .project-tile .project-tile-info {
    min-height: 100px;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: all 0.25s 0s ease;
    -moz-transition: all 0.25s 0s ease;
    -webkit-transition: all 0.25s 0s ease;
    -o-transition: all 0.25s 0s ease; }
    .project-tile .project-tile-info * {
      color: #111; }
    .project-tile .project-tile-info h5 {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
  .project-tile:hover .project-tile-info {
    border-bottom: 3px solid #f79941; }

.project-tile-small {
  padding: 0 15px; }

.related .project-title {
  min-height: 60px; }

.flexslider-controls {
  position: absolute;
  width: 300px;
  z-index: 192;
  margin: 0 auto;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  bottom: 15px;
  height: 20px; }
  .flexslider-controls li {
    list-style: none;
    margin: 0 7px;
    display: inline-block; }
    .flexslider-controls li a {
      display: block;
      text-indent: 9999px;
      width: 11px;
      height: 11px;
      background: #f2f2f2;
      border: 1px solid #333;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px; }
      .flexslider-controls li a.flex-active {
        background: #333; }

.flexslider-direction {
  height: 100%;
  z-index: 191;
  position: absolute;
  right: 15px;
  width: auto;
  margin: 0 10px;
  height: 60px;
  top: 48%;
  margin-top: -30px; }
  .flexslider-direction .icon:before {
    font-size: 60px;
    color: white;
    -moz-text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .flexslider-direction.previous {
    right: auto;
    left: 11px; }
  .flexslider-direction:hover {
    cursor: pointer;
    cursor: w-resize; }
  .flexslider-direction.next:hover {
    cursor: pointer;
    cursor: e-resize; }

/********** $SINGLE-PROJECT *********/
#project-overview {
  padding-bottom: 5%; }
  #project-overview .block-background {
    opacity: .25;
    z-index: -1;
    padding-top: 200px; }
    #project-overview .block-background img {
      float: left; }
  #project-overview.has-stories {
    padding-bottom: 0%; }
  #project-overview ul {
    margin-bottom: 6px;
    margin-top: 16px; }
  #project-overview li {
    display: block;
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 15px; }
  #project-overview a {
    color: #333;
    text-decoration: underline; }
    #project-overview a:hover {
      color: #f79941; }
  #project-overview .metadata, #project-overview .description {
    margin-top: 60px;
    margin-bottom: 30px; }

.block.story:last-of-type {
  padding-bottom: 16%; }

.project-link-item {
  margin-top: 10px; }
  .project-link-item a {
    color: black !important;
    padding: 10px 10px 10px 0; }
    .project-link-item a:hover {
      background: #f79941;
      color: white !important;
      padding-left: 10px; }

#story-bar {
  margin: 0;
  padding: 0;
  height: 60px;
  position: fixed;
  right: 5px;
  top: 40%;
  z-index: 8;
  transform: rotate(90deg);
  transform-origin: 50% 200%;
  overflow: hidden; }
  #story-bar li {
    margin: 0;
    height: inherit; }
    #story-bar li a {
      height: inherit;
      display: block;
      font-size: 20px;
      line-height: 60px;
      vertical-align: middle;
      text-transform: uppercase;
      color: #333; }

.project-title {
  margin-top: 25px; }

.project-scope {
  margin-top: -5px;
  margin-bottom: 30px; }

/********** $ABOUT *********/
#about-nav-container {
  height: 0; }

.before #about-nav li a {
  color: white; }

#about-nav {
  position: fixed;
  z-index: 998;
  top: 130px; }
  #about-nav.off {
    opacity: 0; }
  #about-nav:hover li a {
    opacity: 1; }
  #about-nav li a {
    display: block;
    padding: 7px 15px;
    color: #333;
    font-size: 20px; }
    #about-nav li a.active {
      opacity: 1;
      background: #f79941;
      color: white; }
    #about-nav li a:hover {
      background: #f79941;
      color: white; }

.person {
  max-width: 300px; }
  .person h4, .person h5, .person p {
    word-wrap: break-word;
    margin-top: 0; }

#about-values h2 {
  font-size: 27px; }

/********** $PAGE *********/
.page-body {
  padding-bottom: 90px; }

.page-content p, .post-content p {
  font-size: 22px;
  margin-bottom: 1.3em;
  line-height: 1.55; }
.page-content .list, .post-content .list {
  margin-bottom: 1em; }
  .page-content .list li, .post-content .list li {
    font-size: 20px;
    margin-bottom: 8px; }
    .page-content .list li:before, .post-content .list li:before {
      content: '';
      width: 7px;
      height: 2px;
      background: #f79941;
      display: inline-block;
      line-height: 100%;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 8px; }

.section-break {
  margin-top: 60px; }

.callout {
  background: #f79941;
  color: white;
  padding: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.3; }

.job {
  margin-bottom: 7px;
  position: relative;
  left: -7px; }
  .job a {
    padding: 7px; }
    .job a:hover {
      background: #f79941;
      color: white; }

/********** $CURRENT *********/
#current {
  margin: 0;
  padding-top: 180px;
  padding-left: 10px;
  padding-right: 10px; }

#current-title {
  position: fixed;
  top: 60px;
  left: 20px;
  font-size: 97px;
  -webkit-text-stroke-width: 0px;
  transition: all 0.25s 0s ease;
  -moz-transition: all 0.25s 0s ease;
  -webkit-transition: all 0.25s 0s ease;
  -o-transition: all 0.25s 0s ease;
  color: black; }
  #current-title:hover {
    -webkit-text-stroke-width: 3px; }

.current-item {
  padding: 10px;
  margin: 0;
  opacity: .75;
  transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -webkit-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease; }
  .current-item:hover {
    opacity: 1; }
    .current-item:hover:before {
      opacity: 0; }
  .current-item.active {
    transform: scale(3);
    z-index: 3; }
  .current-item:before-broken {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: #f79941;
    z-index: 1;
    opacity: .25;
    transition: opacity 0.25s 0s ease;
    -moz-transition: opacity 0.25s 0s ease;
    -webkit-transition: opacity 0.25s 0s ease;
    -o-transition: opacity 0.25s 0s ease; }
  .current-item video, .current-item img {
    margin: 0;
    padding: 0; }
  .current-item video {
    margin-bottom: -6px; }

/********** $INVITATIONS *********/
.invitation {
  overflow: hidden; }

.invitation-form {
  position: relative;
  top: 0;
  left: 150%;
  transition: left 1s 0s ease;
  -moz-transition: left 1s 0s ease;
  -webkit-transition: left 1s 0s ease;
  -o-transition: left 1s 0s ease;
  background: rgba(255, 255, 255, 0.1);
  background: #f79941;
  width: 320px;
  padding: 10px;
  visibility: hidden; }
  .invitation-form .gform_wrapper * {
    color: white; }
  .invitation-form .gform_wrapper input, .invitation-form .gform_wrapper textarea {
    color: #333; }
  .invitation-form .gform_wrapper input[type="submit"] {
    background: white; }
  .invitation-form.open {
    left: 0;
    visibility: visible;
    display: block; }

/********** $FOOTER *********/
.home #contact {
  background: none; }

#contact address h4 {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 17px; }

/********** $UTILITIES *********/
.button {
  padding: 8px 15px;
  border: 2px solid #f79941;
  background: white;
  color: #f79941;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.125s 0s ease;
  -moz-transition: all 0.125s 0s ease;
  -webkit-transition: all 0.125s 0s ease;
  -o-transition: all 0.125s 0s ease; }
  .button.white {
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: bold; }
  .button * {
    color: #f79941; }
  .button:hover {
    background: #f79941;
    color: white; }
    .button:hover * {
      color: white; }
  .button.centered {
    display: block;
    max-width: 220px;
    margin: 0 auto; }
  .button.margin {
    margin-top: 30px;
    margin-bottom: 30px; }

.contact-button {
  max-width: 300px;
  height: 183px;
  padding: 10px;
  margin: 30px auto;
  background: #f79941; }
  .contact-button * {
    color: white; }

.gform_wrapper .gfield {
  margin-bottom: 20px; }
.gform_wrapper .gfield.gform_validation_container {
  display: none; }
.gform_wrapper .validation_error {
  font-size: 18px;
  padding: 15px 0;
  border-bottom: 3px solid #ff4a4a;
  margin-bottom: 15px; }
.gform_wrapper .gfield_error {
  border-bottom: 2px solid #ff4a4a; }
.gform_wrapper .validation_message {
  font-weight: bold;
  font-size: 11px;
  padding: 5px 0; }
.gform_wrapper .gfield_checkbox label {
  display: inline;
  max-width: none; }
.gform_wrapper .gfield_checkbox li {
  margin-bottom: 5px; }
.gform_wrapper .gfield_required {
  color: #f79941;
  margin-left: 5px; }

.gform_confirmation_message {
  font-size: 30px; }
  .gform_confirmation_message h1 {
    font-size: 30px;
    color: white;
    padding: 5px; }

img.gform_ajax_spinner {
  display: none !important; }

input, textarea {
  transition: all 0.125s 0s ease;
  -moz-transition: all 0.125s 0s ease;
  -webkit-transition: all 0.125s 0s ease;
  -o-transition: all 0.125s 0s ease;
  padding: 5px;
  border: 1px solid #f79941;
  outline: none;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  opacity: .8; }
  input:focus, textarea:focus {
    outline: none;
    border: 2px solid #f79941;
    opacity: 1; }
  input[type="submit"], textarea[type="submit"] {
    background: white;
    padding: 10px 15px;
    color: #f79941;
    width: auto;
    text-align: center; }
  input[type="checkbox"], textarea[type="checkbox"] {
    max-width: 30px;
    display: inline; }

label {
  font-size: 15px;
  margin-bottom: 4px;
  display: block; }

.blurby.margined {
  margin-bottom: 60px; }

.modal .modal-header {
  border-bottom: none; }
.modal .modal-content {
  border: 1px solid transparent;
  -moz-box-shadow: 0 0 0 white;
  -webkit-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  width: auto; }
.modal .modal-body {
  width: 95%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px; }

.modal-backdrop {
  background: #f79941;
  transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -webkit-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease; }
  .modal-backdrop.in {
    opacity: .75; }

/********** $RESPONSIVE *********/
@media (min-width: 768px) {
  .container {
    max-width: 1400px; } }
@media (max-width: 1200px) {
  h1 {
    font-size: 48px; }
    h1.large {
      font-size: 60px; }

  h2 {
    font-size: 21px; }

  h3 {
    font-size: 19px; }

  h4 {
    font-size: 15px; }

  h5, h6 {
    font-size: 13px; } }
@media (max-width: 992px) {
  h1 {
    font-size: 30px; }
    h1.large {
      font-size: 42px; }

  h2 {
    font-size: 17px; }

  h3 {
    font-size: 15px; }

  h4 {
    font-size: 15px; }

  h5, h6 {
    font-size: 13px; } }
@media (max-width: 767px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    margin-top: 30px;
    margin-bottom: 30px; }

  .centered-xs {
    text-align: center; }

  .m90 {
    margin-bottom: 30px; }

  .m60 {
    margin-bottom: 20px; }

  .m30 {
    margin-bottom: 20px; }

  h1, .h1 {
    font-size: 24px; }
    h1.large, .h1.large {
      font-size: 30px; }

  h2, .h2 {
    font-size: 20px; }

  h3, .h3 {
    font-size: 16px; }

  h4, .h4 {
    font-size: 13px; }

  h5, h6, .h5, .h6 {
    font-size: 13px; }

  .button {
    padding: 5px;
    font-size: 14px; }

  #header {
    background: white;
    height: 53px;
    position: fixed; }
    #header #logo {
      margin-top: 0;
      width: 110px;
      margin-left: 0;
      left: 15px; }
    #header #nav {
      right: 15px; }
      #header #nav li {
        margin-top: 5px; }
        #header #nav li a {
          font-size: 14px; }

  #carrot {
    top: 16px; }

  .menu-closed.after #carrot {
    right: 15px; }

  .menu-open #carrot {
    right: -100px; }

  #menu .menu-about {
    margin-bottom: 30px; }
    #menu .menu-about li {
      margin-bottom: 7px;
      width: 49%;
      display: inline-block; }
  #menu .menu-projects {
    margin-top: 0; }
  #menu .h2 {
    font-size: 15px; }
  #menu h4 {
    font-size: 11px; }
  #menu img {
    width: 80%; }
  #menu .project-tile {
    margin-bottom: 0px; }

  #menu-close {
    top: 15px; }

  #headerfix {
    height: 53px; }

  .single #headerfix {
    display: block; }

  #nav-side {
    right: 0px; }

  #about-nav {
    display: none;
    width: 100%;
    left: 0px;
    background: white;
    top: 53px; }
    #about-nav li {
      display: inline-block; }
      #about-nav li a {
        font-size: 11px;
        padding: 6px; }
      #about-nav li:last-child a {
        padding-right: 0; }

  .tooltip {
    display: none !important; }

  .tagline-container {
    width: 90%;
    margin: 0px auto; }

  .tagline {
    width: 88%;
    margin: 15px auto;
    font-size: 18px; }

  .dash.static {
    margin: 30px auto 0 auto; }

  #projects-grid {
    padding-bottom: 15%;
    padding-top: 30px; }

  .project-tile {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0 15px; }
    .project-tile .project-tile-image {
      position: relative; }
      .project-tile .project-tile-image .project-tile-hook {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 30px;
        transition: left 0.75s 0s ease;
        -moz-transition: left 0.75s 0s ease;
        -webkit-transition: left 0.75s 0s ease;
        -o-transition: left 0.75s 0s ease;
        background: rgba(255, 255, 255, 0.75);
        left: 0; }
    .project-tile .project-tile-info {
      min-height: 70px; }
    .project-tile h3 {
      font-size: 13px;
      height: 60px; }

  .flexslider-controls {
    bottom: 0px; }

  .gform_fields li {
    margin-bottom: 15px; }

  .gform_confirmation_message {
    font-size: 24px; }
    .gform_confirmation_message h1 {
      font-size: 24px;
      color: white;
      padding: 5px; }

  .invitation-form {
    display: none;
    margin-left: auto;
    margin-right: auto; }

  #current-title {
    font-size: 30px; }

  .current-item {
    padding: 0;
    margin: 0; } }
.inquiry-button {
  position: relative;
  z-index: 2; }
  .inquiry-button h3 {
    background: #f79941;
    padding: 20px; }
  .inquiry-button h4 {
    position: absolute;
    top: 0%;
    left: 0;
    margin: 0;
    padding: 5px 20px 5px;
    width: 100%;
    background: #f8a75a;
    z-index: -1;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.25s 0s ease;
    -moz-transition: all 0.25s 0s ease;
    -webkit-transition: all 0.25s 0s ease;
    -o-transition: all 0.25s 0s ease; }
  .inquiry-button:hover h4 {
    top: 100%; }

.element {
  width: 33%;
  float: left;
  height: auto; }

.filters .button {
  padding: 4px 15px;
  letter-spacing: .01em;
  font-size: 15px;
  margin-bottom: 15px; }
  .filters .button:focus {
    outline: none; }
  .filters .button.is-checked {
    outline: none;
    background: #f9b472;
    color: white; }
    .filters .button.is-checked:hover {
      background: #f79941; }

@media (max-width: 767px) {
  .element {
    width: 50%;
    float: left; }

  .filters .button {
    padding: 2px 10px;
    font-size: 13px; }
    .filters .button:focus {
      outline: none; }
    .filters .button.is-checked {
      outline: none;
      background: #f9b472;
      color: white; }
      .filters .button.is-checked:hover {
        background: #f79941; } }
.website-slide {
  -moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.4); }

.website-browser {
  border: 3px solid #c6c6c6; }

.website-slide-image {
  border: 3px solid #c6c6c6;
  border-top: none;
  width: 100%; }

.flexslider-website-wrapper {
  position: relative;
  overflow: hidden; }

.flexslider-website {
  padding: 3px;
  position: relative;
  width: calc(100% - 100px);
  margin: 0 auto 50px auto; }
  .flexslider-website .flex-control-nav {
    position: absolute;
    width: 300px;
    z-index: 192;
    margin: 0 auto;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    bottom: -50px;
    height: 20px; }
    .flexslider-website .flex-control-nav li {
      list-style: none;
      margin: 0 7px;
      display: inline-block; }
      .flexslider-website .flex-control-nav li a {
        display: block;
        text-indent: 9999px;
        width: 11px;
        height: 11px;
        background: #f2f2f2;
        border: 1px solid #333;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px; }
        .flexslider-website .flex-control-nav li a.flex-active {
          background: #333; }
  .flexslider-website .flexslider-direction {
    height: 100%;
    z-index: 191;
    position: absolute;
    right: -50px;
    width: auto;
    margin: 0 10px;
    height: 60px;
    top: 48%;
    margin-top: -30px; }
    .flexslider-website .flexslider-direction .icon:before {
      font-size: 60px;
      color: #333;
      -moz-text-shadow: 0 0 0 #f2f2f2;
      -webkit-text-shadow: 0 0 0 #f2f2f2;
      text-shadow: 0 0 0 #f2f2f2; }
    .flexslider-website .flexslider-direction.previous {
      right: auto;
      left: -50px; }
    .flexslider-website .flexslider-direction:hover {
      cursor: pointer;
      cursor: w-resize; }
    .flexslider-website .flexslider-direction.next:hover {
      cursor: pointer;
      cursor: e-resize; }

@media (max-width: 767px) {
  .website-slide {
    -moz-box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.4);
    -webkit-box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.4); }

  .website-browser {
    display: none; }

  .website-slide-image {
    border-top: 3px solid #cdcdcd; }

  .flexslider-website {
    width: 100%; }
    .flexslider-website .flexslider-direction {
      right: -5px;
      top: 50%; }
      .flexslider-website .flexslider-direction.previous {
        left: -5px; }
    .flexslider-website .flex-control-nav {
      bottom: -30px; } }
#page-subscribe-form {
  width: 300px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
